html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #002333;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


main {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 100vw;
}

.child {
  width: 300px;
  justify-self: center;
  align-self: center;
}
